<div class="nested-fields panel panel-default col-md-7">
  <div class="panel-body">
    <%= f.label :description %>
    <% if (@can_edit) %>
      <%= f.text_field :description, class: 'form-control' %>
    <% else %>
      <%= f.text_field :description, class: 'form-control', readonly: true %>
    <% end %>
    <%= f.label :min_budget %>
    <%= app_setting("currency") %>
    <% if (@can_edit) %>
      <%= f.number_field :min_budget, class: 'form-control' %>
    <% else %>
      <%= f.text_field :min_budget, class: 'form-control', readonly: true %>
    <% end %>
    <%= f.label :max_budget %>
    <%= app_setting("currency") %>
    <% if (@can_edit) %>
      <%= f.number_field :max_budget, class: 'form-control' %>
    <% else %>
      <%= f.text_field :max_budget, class: 'form-control', readonly: true %>
    <% end %>
    <br/>
    <% if (@can_edit) %>
      <%= link_to_remove_association t("remove_budget_item"), f, class: 'remove_person fa fa-trash' %>
    <% end %>
  </div>
</div>
