<%= javascript_include_tag 'spectrum.js' %>
<%= stylesheet_link_tag 'spectrum.css' %>
<div class='card camp-<%=camp.id %> <%= css_classes if defined?(css_classes)%>'>
    <% if user_signed_in? %>
        <%= link_to toggle_favorite_camp_path(:id => camp.id), method: :patch, class: (camp.favorite_users.include?(current_user) ? 'favorite-button starred' : 'favorite-button'), :remote => true do %>
            <span id="star-icon" class="glyphicon <%= camp.favorite_users.include?(current_user) ? 'glyphicon-star' : 'glyphicon-star-empty' %>"></span>
        <% end %>
    <% end %>
    <a href="<%= url_for(camp) %>">
        <div class="panel panel-info <%=camp.id%>">
            <div class="panel-body camp-index">
                
                <% if camp.images.any? %>
                    <%= image_tag(camp.images.first.attachment.url(:square), :class => "grow") %>
                <% else %>
                    <%= image_tag(app_setting('placeholder') , :class => "grow") %>
                <% end %>

                <% @name = (app_setting('multi_lang_support') and camp.en_name.present? and I18n.locale.to_s == 'en')? camp.en_name : camp.name %>
                <%= simple_format(truncate(@name, length: 60),
                                    { class: "name auto-#{@detector.direction(@name)}" },
                                    wrapper_tag: 'h4') %>

                <% if display_desc %>
                <% @subtitle = (app_setting('multi_lang_support') and camp.en_subtitle.present? and I18n.locale.to_s == 'en')? camp.en_subtitle : camp.subtitle %>
                <div class="description">
                    <%= simple_format(truncate(@subtitle, length: 256), class: "auto-#{@detector.direction(@subtitle)}") %>
                </div>
                <% end %>

                <% if defined?(flag_sum) %>
                    Flag events count: <%= flag_sum %>
                <% end %>

                <div class="labels">
                    <% if app_setting("granting_active") and camp.minbudget %>

                        <h3 class='budget-info'><%= camp.grants_received %>/<%= camp.maxbudget %><br><%=t :funded %></h3>

                        <!-- Only if never got grants and not opened for granting -->
                        <% if !camp.grantingtoggle and camp.grants_received <= 0%>
                            <h3 class='budget-not-opened'>
                                <%=t :granting_not_enabled %>
                            </h3>
                        <% else %>
                            <div class="budgetprogressbar" data-min="<%= camp.minbudget %>" data-max="<%= camp.maxbudget %>" data-value="<%= camp.grants_received %>"></div>
                        <% end %>

                    <% end %>
                </div>

                <% if !camp.is_public? %>
                    <h4 style="color: #eb1478; position: absolute; top:4px; right:20px;"><span class="glyphicon glyphicon-lock" aria-hidden="true"></h4>
                <% end %>
            </div>

        </div>
        
    </a>
</div>