<% if app_setting("dreamcrew") %>
    <div class="panel panel-default">
            <div class="panel-heading"><h2 class="header-sub-heading"><%=t :dreamcrew %></h2></div>
            <div class="panel-body">
                <%= simple_form_for @camp, url: { action: 'remove_member'} do |f| %>
                  <div id="crew-container" class="crew-container">
                      <div class="profile-pic">
			<% if @camp.creator.avatar %>
                          <%= link_to image_tag(@camp.creator.avatar, :class => "img-circle dreamcrew-photo"), @camp.creator %>
			<% else %>
                          <%= link_to image_tag('crewpope.png', :class => "img-circle dreamcrew-photo"), @camp.creator %>
			<% end %>
                          <span class="tooltiptext">
			    <p><b><%=t :user %>:</b> <%= @camp.creator.name ? @camp.creator.name : "-" %></p>
			    <p><b><%=t :talk_user %>:</b> <%= @camp.creator.talk_username ? @camp.creator.talk_username : "-" %></p>
			  </span>
                      </div>
                      <% @camp.memberships.each do |member| %>
                          <div class="profile-pic">
			  <% if member.user.avatar %>
			    <%= link_to image_tag(member.user.avatar, :class => "img-circle dreamcrew-photo"), member.user %>
			  <% else %>
			    <%= link_to image_tag('crew-default.png', :class => "img-circle dreamcrew-photo"), member.user %>
			  <% end %>
                          <%= link_to '✘', remove_member_camp_path(@camp, member), class: 'edit', method: :post %>
                          <span class="tooltiptext">
			    <p><b><%=t :user %>:</b> <%= member.user.name? ? member.user.name : "-" %></p>
			    <p><b><%=t :talk_user %>:</b> <%= member.user.talk_username? ? member.user.talk_username : "-" %></p>
			  </span>
                        </div>
                      <% end %>
                    <% if current_user && (@camp.creator == current_user || current_user.is_crewmember(@camp)) %>
                      <div class="profile-pic">
                        <%= image_tag('crewmate.png', :class => "img-circle") %>
                      </div>
                    <% end %>
                  </div>
                <% end %>

                <% if current_user && (@camp.creator == current_user || current_user.is_crewmember(@camp)) %>
                  <%= simple_form_for @camp, url: { action: 'add_member', method: 'post'} do |f| %>
                    <%= f.text_field :member_email, class: 'form-control', value: '' %>
                    <%= f.submit t(:add_crewmember), id: 'member-add', class: 'btn btn-success btn-sm' %>
                  <% end %>
                <% end %>
            </div>
    </div>
<% end %>
