<div class="flag <%= (camp.flag_type_is_raised(flag_type) ? 'raised' : '') %>">
    <div>
        <%= image_tag("greenflag.png", :size => '75', :class => (camp.flag_type_is_raised(flag_type) ? 'startled' : '')) %>
        <b><span><%= flag_name %></span></b>
        <br>
        <span>Monstered count: <%= camp.flag_count(flag_type) %></span>
    </div>
    <div>
        <%= form_tag({controller: "camps", action: "create_flag_event"}, method: "post", id: "incomplete_budget_form", class: 'hidden-form') do %>
            <%= text_field_tag 'comment' %>
            <%= hidden_field_tag 'flag_type', flag_type %>
            <%= hidden_field_tag :value, !@camp.flag_type_is_raised(flag_type) %>
            <%= submit_tag (camp.flag_type_is_raised(flag_type) ? 'Calm monster' : 'Startle monster'), :class => (camp.flag_type_is_raised(flag_type) ? 'btn btn-green' : 'btn btn-red') %>
        <% end %>
    </div>
</div>

