%h2
  = "Grant application details"

%p
  Are you applying for funding for:

.combo.ga-radio
  %span
    Costumes
  = form.radio_button :ga_costumes, true
  = form.label "Yes"
  = form.radio_button :ga_costumes, false
  = form.label "No"

.combo.ga-radio
  %span
    Consumables
  = form.radio_button :ga_consumables, true
  = form.label "Yes"
  = form.radio_button :ga_consumables, false
  = form.label "No"

.combo.ga-radio
  %span
    Intoxicants
  = form.radio_button :ga_intoxicants, true
  = form.label "Yes"
  = form.radio_button :ga_intoxicants, false
  = form.label "No"

.combo.ga-radio
  %span
    Valuable equipment
  = form.radio_button :ga_valuable_equipment, true
  = form.label "Yes"
  = form.radio_button :ga_valuable_equipment, false
  = form.label "No"

.combo.ga-radio
  %span
    Transport
  = form.radio_button :ga_transport, true
  = form.label "Yes"
  = form.radio_button :ga_transport, false
  = form.label "No"

.combo.ga-radio
  %span
    Vehicle costs
  = form.radio_button :ga_vehicle_costs, true
  = form.label "Yes"
  = form.radio_button :ga_vehicle_costs, false
  = form.label "No"

.combo.ga-radio
  %span
    Sound equipment
  = form.radio_button :ga_sound_equipment, true
  = form.label "Yes"
  = form.radio_button :ga_sound_equipment, false
  = form.label "No"

.combo.ga-explanation
  .field-description
    = "If you have indicated that you are applying for funding for any of the above, please explain how it relates to the guideline limitations. E.g. what makes the item integral for the art experience, how are you collaborating with other dreams to share the costs, what measures have you taken to source the equipment from the community or how will buying it add continuous value to the community. Also note that any of the above needs to be detailed clearly in your budget."
  %blockquote
    = best_in_place_if @can_edit, @camp, :ga_explanation, html_attrs: {maxlength: 4096, class: "form-control"}, as: :textarea, display_with: :simple_format, place_holder: t(:form_click_to_edit_html)
