<% content_for(:head) do %>
  <title><%= t(:browser_title_tag) %></title>
<% end %>
<script>
    $( document ).ready(function() {
        var flags = $('.flag');
        $('.hidden-form').click(function(e) {
            e.stopPropagation();
        });
        $('.flag').click(function (e) {
            if(!e.currentTarget.classList.contains("active")) {
                flags.each(function(i) {
                    $(flags[i]).removeClass('active')
                });
                $(e.currentTarget).addClass('active')
            } else {
                $(e.currentTarget).removeClass('active')
            } 
        });
    });
</script>
<%= render 'camps/donate_form' %>

<div class="row">
  <div class="col-md-8">

        <!-- Blueimp Gallery -->
        <div id="blueimp-gallery" class="blueimp-gallery">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>

        <div id="links">
          <% @camp.images.each_with_index do |image, index| %>
              <div class="thumbnail">
                <%= link_to image_tag(image.attachment.url(:medium)), image.attachment.url(:large) %>
              </div>
          <% end %>
        </div>

        <% content_for(:cover_head) do %>dream-site-header<% end %>

        <% content_for(:post_head) do %>
            <% if defined? (@main_image) %>
                <div class='dream_main_image' style='background: linear-gradient(rgba(20,20,20, .7),rgba(20,20,20, .7)),url("<%= @main_image %>") no-repeat center center fixed'>
            <% else %>
                <div class='dream_main_image' style="background: linear-gradient(rgba(20,20,20, .7),rgba(20,20,20, .7)),url('<%= @main_image %>') no-repeat center center fixed">
            <% end %>
            <div class="dream_main_text">
                <div class="center-dream">
                    <p>
                        <%= @camp.display_name %>
                        <% if user_signed_in? %>
                            <%= link_to :toggle_favorite_camp, method: :patch, class: (@camp.favorite_users.include?(current_user) ? 'favorite-button starred' : 'favorite-button'), style: "position: absolute;", :remote => true do %>
                                <span id="star-icon" class="glyphicon <%= @camp.favorite_users.include?(current_user) ? 'glyphicon-star' : 'glyphicon-star-empty' %>"></span>
                            <% end %>
                        <% end %>
                    </p>
                    <p class='dream_main_creator'><%= @camp.contact_name %></p>


                    <!-- Granting system -->
                    <% if app_setting("granting_active") and @camp.minbudget.present? and @camp.maxbudget.present? %>

                        <li>
                            <div class='budget-info'>
                                <div class='budget-box'>
                                    <h3><%= @camp.grants_received %></h3><br><h4><%=t :funded %></h4>
                                </div>
                                <div class='budget-box'>
                                    <h3><%= @camp.minbudget %></h3><br><h4><%=t :min_funded %></h4>
                                </div>
                                <div class='budget-box'>
                                    <h3><%= @camp.maxbudget %></h3><br><h4><%=t :max_funded %></h4>
                                </div>

                                <!-- If user grants are > 0, allow user to asign them -->
                                <% if @camp.grantingtoggle %>
                                    <% if current_user && current_user.grants? && current_user.grants > 0 && !@camp.fullyfunded %>

                                        <button type="button" class="btn btn-success donate-button" data-toggle="modal" data-target="#donateModal">
                                          <%= t(:i_gift_thee_grants) %>
                                        </button>
                                    <% end %>
                                <% end %>

                                <!-- Only if never got grants and not opened for granting -->
                                <% if !@camp.grantingtoggle and @camp.grants_received <= 0%>
                                    <h3 class='budget-not-opened'>
                                        <%=t :granting_not_enabled %>
                                    </h3>
                                <% end %>
                            </div>
                        </li>
                    <% end %>
                    <!-- End of granting block -->
                </div>
            </div>
            </div> <!-- /div Closing the upper if !-->
        <% end %>

        <% content_for(:head) do %>
            <% browser_title = @camp.name + " - " + t(:browser_title_tag) %>
            <title><%= browser_title %></title>
            <%= javascript_include_tag 'blueimp_script' %>
            <%= javascript_include_tag 'multiprogress' %>
            <% if defined? (@main_image) %>
                <meta property="og:image" content="<%= @main_image %>"/>
            <% end %>
        <% end %>

    <%= render 'camps/budget_misaligned', except: nil %>

    <% if current_user && (@camp.creator == current_user || current_user.is_crewmember(@camp)) %>
        <%= render 'camps/dont_miss_out', except: nil %>
      <% end %>

    <!-- Creation text content -->
        <div class="camp-description">
            <b><%=t :form_summary %></b>
            <% @subtitle = (app_setting('multi_lang_support') and @camp.en_subtitle.present? and I18n.locale.to_s == 'en')? @camp.en_subtitle : @camp.subtitle %>

            <%= simple_format(@subtitle, class: "auto-#{@detector.direction(@subtitle)}" ) %>
        </div>

        <% if app_setting("description") and @camp.description.present? %>
            <div class="camp-description">
                <b><%=t :form_description_label %></b>
              <%= simple_format(@camp.description, class: "auto-#{@detector.direction(@camp.description)}" ) %>
            </div>
        <% end %>

        <% if @camp.about_the_artist.present? %>
            <div class="camp-description">
                <b><%=t :form_about_the_artist_label %></b>
              <%= simple_format(@camp.about_the_artist, class: "auto-#{@detector.direction(@camp.about_the_artist)}" ) %>
            </div>
        <% end %>

        <% if app_setting("plan") and @camp.plan.present? %>
            <div class="camp-description">
                <b><%=t :form_plan_label %></b>
                <%= simple_format(@camp.plan, class: "auto-#{@detector.direction(@camp.plan)}" ) %>
            </div>
        <% end %>

        <% if app_setting("moop") and @camp.moop.present? %>
            <div class="camp-description">
                <b><%=t :form_moop_label %></b>
                <%= simple_format(@camp.moop, class: "auto-#{@detector.direction(@camp.moop)}" ) %>
            </div>
        <% end %>

        <% if app_setting("recycling") and @camp.recycling.present? %>
            <div class="camp-description">
                <b><%=t :form_recycling_label %></b>
                <%= simple_format(@camp.recycling, class: "auto-#{@detector.direction(@camp.recycling)}" ) %>
            </div>
        <% end %>

        <% if app_setting("budgetplan") and @camp.budgetplan.present? %>
            <div class="camp-description">
                <b><%=t :form_budgetplan_label %></b>
                <%= simple_format(@camp.budgetplan, class: "auto-#{@detector.direction(@camp.budgetplan)}" ) %>
            </div>
        <% end %>

        <% if @camp.budget_items.present? %>
            <div class="camp-description">
                <b><%=t :budget_label %></b>
                <table class="table">
                <thead>
                    <tr>
                        <th scope="col"><%=t :budget_description_label %></th>
                        <th scope="col"><%=t :budget_amount_label %> (<%= app_setting("currency") %>)</th>
                    </tr>
                </thead>
                <tbody>
                <% @camp.budget_items.each do |budget_item| %>
                    <tr>
                        <td><%= budget_item.description %></td>
                        <td><%= budget_item.amount %></td>
                    </tr>
                <% end %>
                </tbody>
                </table>
            </div>
        <% end %>

        <% if app_setting("cocreation") and @camp.cocreation.present? %>
            <div class="camp-description">
                <b><%=t :form_cocreation_label %></b>
                <%= simple_format(@camp.cocreation, class: "auto-#{@detector.direction(@camp.cocreation)}" ) %>
            </div>
        <% end %>

        <% if user_signed_in? and !@camp.grantingtoggle %>
            <div class="flags-box">
                <strong><%=t :flag_instruction_html %></strong>
                <div class="flags row">
                    <%= render :partial => 'camps/flag', locals: { flag_type: 'restricted_items', flag_name: 'Restricted items', camp: @camp } %>
                    <%= render :partial => 'camps/flag', locals: { flag_type: 'incomplete_budget', flag_name: 'Incomplete budget', camp: @camp } %>
                    <%= render :partial => 'camps/flag', locals: { flag_type: 'unnecessary_material', flag_name: 'Unnecessary material', camp: @camp } %>
                    <%= render :partial => 'camps/flag', locals: { flag_type: 'transport', flag_name: 'Transport issue', camp: @camp } %>
                    <div class="col-sm-4">
                        <%= link_to :toggle_approval_camp, method: :patch, id: "approve-button", class: (@camp.approvers.include?(current_user) ? 'clicked' : '') do %>
                            <%= @camp.approvers.include?(current_user) ? t('dream_approved') : t('dream_unapproved') %>
                        <% end %>
                        <div class="small"><%= @camp.approvers.count %> approvers</div>
                    </div>
                </div>
            </div>
        <% end %>

        <%= render 'loomio_comments' %>

    </div> <!-- col-md-8 -->

    <div class="col-md-4">

        <% if !user_signed_in? and app_setting("creation_sidebar_welcome") %>
            <div class="panel panel-default">
                <div class="panel-heading"><%=t :what_is_this_title %></div>
                <div class="panel-body">
                    <p><%=t :what_is_this_text_html %></p>
                </div>
            </div>
        <% end %>

        <%= render 'camps/crew' %>

        <% if current_user &&
            ((@camp.creator == current_user || current_user.is_crewmember(@camp)) || (current_user.guide || current_user.admin)) %>
            <div class="panel panel-default">
                <div class="panel-heading"><h2 class="header-sub-heading"><%=t :actions_headline %></h2></div>
                <div class="panel-body">
                    <li><span>
                        <a href="<%= edit_camp_path(@camp) %>" class="btn btn-primary camp-button" role="btn button"><%=t :edit_dream %></a>
                    </span></li>
                    <li><span>
                        <a href="<%= camp_images_path(@camp) %>" class="btn btn-primary camp-button" role="btn button"><%=t :manage_images %></a>

                    <!-- Safety features -->

                    <% if app_setting("safetybag") %>
                        <li><span>
                            <a href="<%= camp_safety_sketches_path(@camp) %>" class="btn btn-warning camp-button" role="btn button"><%=t :safety %></a>
                        </span></li>
                    <% end %>

                    <!-- Granting system -->
                    <% if current_user.guide || current_user.admin %>
                        <%= button_to t(@camp.grantingtoggle? ? :turn_off_granting : :enable_granting),
                                      :toggle_granting_camp, { method: :patch, class: "btn btn-danger" } %>
                    <% end %>

                    <% if @camp.creator == current_user || current_user.guide || current_user.admin %>
                      <% if @camp.active? %>
                        <%= button_to t(:archive_this_creation), :archive_camp,
                                      { method: :post, class: "btn btn-danger", data: { confirm: t(:are_you_sure) } } %>
                      <% end %>

                      <% if current_user.admin %>
                        <%= button_to t(:delete_this_creation), { action: 'destroy' },
                                      { method: :delete, class: "btn btn-danger", data: { confirm: t(:delete_are_you_sure) } } %>
                      <% end %>

                    <% end %>

                </div>
            </div>
        <% end %>

        <div class="creation-info">
            <ul>
                <div class="panel panel-default">
                    <div class="panel-heading"><h2 class="header-sub-heading"><%=t :creation_info_headline %></h2></div>
                <div class="panel-body">

                <% if app_setting("show_point_of_contact") && (current_user && ((@camp.creator == current_user || current_user.is_crewmember(@camp)) || (current_user.guide || current_user.admin))) %>
                    <span class='dream-point-of-contact'>
                        <span class='glyphicon glyphicon-envelope' aria-hidden="true"></span>&nbsp<%=t :form_dream_point_of_contact_email %>
                    </span><br>
                    <% if @camp.creator == current_user || current_user.is_crewmember(@camp) %>
                        <%= @camp.dream_point_of_contact_email %>
                    <% elsif current_user.guide || current_user.admin %>
                        <%= render 'edit_point_of_contact' %>
                    <% end %>
                <br><br>
                <% end %>
                <% if @camp.website.present? %>
                    <li>
                    <span class='dream-website'>
                        <a href='<%= @camp.website_url %>'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><%= @camp.website %></a>
                    </span>
                    </li>
                    <br>
                <% end %>

                <% if app_setting("electricity") and @camp.electricity.present? %>
                    <li><span>
                        <b><%=t :form_electricity_label %></b> <%= @camp.electricity %>
                    </span></li>


                    <br>
                <% end %>

                <% if app_setting("light") and  @camp.light.present? %>
                    <li><span>
                        <b><%=t :form_light_label %></b> <%= @camp.light %>
                    </span></li>


                    <br>
                <% end %>

                <% if app_setting("fire") and  @camp.fire.present? %>
                    <li><span>
                        <b><%=t :form_fire_label %></b> <%= @camp.fire %>
                    </span></li>


                    <br>
                <% end %>

                <% if app_setting("noise") and  @camp.noise.present? %>
                    <li><span>
                        <b><%=t :form_noise_label %></b> <%= @camp.noise %>
                    </span></li>


                    <br>
                <% end %>

                <% if app_setting("nature") and  @camp.nature.present? %>
                    <li><span>
                        <b><%=t :form_nature_label %></b> <%= @camp.nature %>
                    </span></li>


                    <br>
                <% end %>

                <% random = Camp.active(true).not_hidden(true).order("RANDOM()").first %>
                <a href="<%= url_for(random) %>" class="btn btn-primary camp-button" role="button">
                    <%=t :next_random_dream %> <span class="glyphicon glyphicon-random vertical-middle" aria-hidden="true"></span>
                </a>

              </div>
            </ul>

        </div> <!-- creation-info -->

        <% if app_setting("show_safety_file_comments") && (current_user && ((@camp.creator == current_user || current_user.is_crewmember(@camp)) || (current_user.guide || current_user.admin))) %>
        <div class="safety-file-comments">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="header-sub-heading"><%=t Camp.human_attribute_name("safety_file_comments") %></h2>
                </div>
                <div class="panel-body">
                <% if @camp.creator == current_user || current_user.is_crewmember(@camp) %>
                    <% if @camp.safety_file_comments.blank? %>
                        <%= t :dream_safety_file_comments_nop_message %>
                    <% else %>
                        <%= simple_format @camp.safety_file_comments %>
                    <% end %>
                <% elsif current_user.guide || current_user.admin %>
                    <%= render 'edit_safety_file_comments' %>
                <% end %>
                </div>
            </div>
        </div> <!-- safety-file-comments -->
        <% end %>

        <%= render 'tags' %>

    </div> <!-- col-md-3 -->

</div> <!-- row -->
</div>

<%= javascript_include_tag 'loomio' %>
