<tr>
  <td>
    <a href="<%= url_for(camp) %>">
      <% @name = (app_setting('multi_lang_support') and camp.en_name.present? and I18n.locale.to_s == 'en')? camp.en_name : camp.name %>
      <%= simple_format(truncate(@name, length: 60), { class: "name" }, wrapper_tag: 'h4') %>
    </a>
  </td>
  <td>
    <a href="<%= url_for(camp) %>">
      <% if app_setting("granting_active") and camp.minbudget %>
        <%= camp.minbudget %>
      <% end %>
    </a>
  </td>
  <td>
    <a href="<%= url_for(camp) %>">
      <% if app_setting("granting_active") and camp.maxbudget %>
        <%= camp.maxbudget %>
      <% end %>
    </a>
  </td>
  <td>
    <a href="<%= url_for(camp) %>">
      <% if app_setting("granting_active") and camp.grants_received %>
        <%= camp.grants_received %>
      <% end %>
    </a>
  </td> 
  <td>
    <a href="<%= url_for(camp) %>">
      <% if app_setting("granting_active") and camp.grants_prefund %>
        <%= camp.grants_prefund %>
      <% end %>
    </a>
  </td> 
  <td>
    <a href="<%= url_for(camp) %>">
      <% if app_setting("granting_active") and camp.grants_public %>
        <%= camp.grants_public %>
      <% end %>
    </a>
  </td> 
  <td>
    <a href="<%= url_for(camp) %>">
      <% if app_setting("granting_active") and camp.grants_committee %>
        <%= camp.grants_committee %>
      <% end %>
    </a>
  </td> 
  <td>
    <a href="<%= url_for(camp) %>">
      <% if app_setting("granting_active") and camp.grants_received %>
        <% @percentage = (camp.grants_received == 0 or camp.minbudget == 0)? 0 : 100*camp.grants_received.to_f/camp.minbudget.to_f %>
        <%= number_to_percentage(@percentage, precision: 1) %>
      <% end %>
    </a>
  </td>
  <td>
    <a href="<%= url_for(camp) %>">
      <% if app_setting("granting_active") and camp.grants_received %>
        <% @percentage = (camp.grants_received == 0 or camp.maxbudget == 0)? 0 : 100*camp.grants_received.to_f/camp.maxbudget.to_f %>
        <%= number_to_percentage(@percentage, precision: 1) %>
      <% end %>
    </a>
  </td>  
</tr>
