<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="header-sub-heading"><%=t :form_tags %></h2>
  </div>
  <div class="panel-body">
    <%= simple_form_for @camp, url: { action: 'remove_tag', :'format' => 'json' } do |f| %>
      <div id="tag-container" class="tag-container">
          <% @camp.tags.each do |tag| %>
            <div class="tag-item">
              <%=tag%><span class="tag-remove" data-tag='<%=tag%>'>x</span>
            </div>
          <% end %>
      </div>
    <% end %>

    <%= simple_form_for @camp, url: { action: 'tag', :'format' => 'json' } do |f| %>
      <%= f.text_field :tag_list, class: 'form-control', value: '' %>
      <%= f.submit t(:add_tag), id: 'tags-add', class: 'btn btn-success btn-sm' %>
    <% end %>
  </div>
</div>