<% content_for(:head) do %>
    <title><%= t(:browser_title_tag) %></title>
    <%= javascript_include_tag 'blueimp_script' %>
<% end %>


<% if current_user == @user %>
<%= render 'camps/dont_miss_out', except: nil %>
<% end %>

<div class='me'>
    <%= render :partial => 'users/your_space'  %>
    <%= render :partial => 'users/favorites', locals: { camps: @camps, user: @user } %>
</div>

